body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--head {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}